#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chat-conatainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 600px;
  padding:24px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
} 
.response-box {
  flex: 1;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  overflow-y: auto;
}
.input-container {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.query-input {
  flex: none;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  resize: none;
}